 /* pranav this is basic i have done basic dashboad css for idea */

 body {
  display: flex;
  margin: 0;
}

.sidebar {
  width: 220px;
  background: #222;
  color: white;
  height: 100vh;
}

.main {
  flex: 1;
}

.header {
  background: #eee;
  padding: 15px;
}

.content {
  padding: 20px;
}
